<div class="account-list">
   <h3 class="green-title"><?php echo $heading_title; ?></h3>   
   <?php if (!$logged) { ?>     
    <a href="<?php echo $login; ?>" class="list-group-item active"><?php echo $text_login; ?></a>
    <a href="<?php echo $forgotten; ?>" class="list-group-item"><?php echo $text_forgotten; ?></a>
    <a href="<?php echo $register; ?>" class="list-group-item"><?php echo $text_register; ?></a>
    <?php } ?>
    <?php if ($logged) { ?>
    <a href="<?php echo $edit; ?>" class="list-group-item"><?php echo $text_edit; ?></a> 
    <a href="<?php echo $password; ?>" class="list-group-item"><?php echo $text_password; ?></a>
    <?php } ?>
    <a href="<?php echo $address; ?>" class="list-group-item"><?php echo $text_address; ?></a> 
    <a href="<?php echo $order; ?>" class="list-group-item"><?php echo $text_order; ?></a> 
    <?php if ($logged) { ?>
    <a href="<?php echo $logout; ?>" class="list-group-item"><?php echo $text_logout; ?></a>
    <?php } ?>
</div>
