<span style='color: #000'>133 frames</span>	<span style='color: #900'>15,872 KB</span>	<span style='color: #090'>536.86 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />