<?php /* if (isset($wp_categories) && !empty($wp_categories)) { ?>
<div class="row categoty-in-top">
    <?php foreach ($wp_categories as $category) { ?>
    <?php if (isset($category['image']) && !empty($category['image'])) { 
    $imageUrl = $server."image/".$category['image'];
    ?>
    <div class="cint categty_<?=$category['category_id']?>"
         style="background-image: url('<?=$imageUrl?>'); height:100px; width: 100px;">
        <h3 style="color:white;"><?=$category['name']?></h3>
    </div>
    <?php } ?>
    <?php } ?>
</div>
<?php } */ ?>
<?php foreach ($modules as $module) { ?>
<?php echo $module; ?>
<?php } ?>
