<div id="search">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class=" input-lg" />
  <span >
    <button type="button" class="button_search"></button>
  </span>
</div>
